<section class="ui raised segment">
    <div class="ui form three wide column">
            <div class="ui stacked three segment">
                <form action="/poi" method="POST">
                    <div class="field">
                      <lavbel>Name</lavbel>
                      <input placeholder="Name" type="text" name="name of POI">
                    </div>
                    <div class="field">
                      <label>Details</label>
                      <textarea placeholder="provide details" type="text" name="details"></textarea>
                    </div>
                    <button class="ui blue submit button">submit</button>
                </form>
            </div>
        <aside class="six wide column"> <img src="images/castle.jpg" class="ui large image">
        </aside>
    </div>
</section>