<section class="ui raised segment">
  <div class="ui grid">
    <aside class="six wide column">
      <img src="images/google.jpg" class="ui medium image">
    </aside>
    <article class="eight wide column">
      <table class="ui celled table segment">
        <thead>
          <tr>
            <th>Name</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          {{#each points}}
            <tr>
              <td> {{name}} </td>
              <td> {{details}} </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </article>
  </div>
</section>