<nav class="ui inverted menu">
    <header class="header item"><a href="/"> Irish Isles </a></header>
    <div class="right menu">
        <a class="active item" href="/home"> Places of Interest</a>
        <a class="item" href="/report"> Report</a>
        <a class="item" href="/logout"> Logout</a>
    </div>
</nav>

<section class="ui raised segment">

    {{> poi }}

</section>