{{> welcomemenu }}
    <section class="ui stacked segment">
        <div class="ui grid">
            <aside class="six wide column"><img src="images/islands.jpg" class="ui medium image" /></aside>
            <article class="ten wide column">
                <header class="ui  header">Welcome to the Irish Isles</header>
                <p>Take a look around, some nice places to see</p>
            </article>
        </div>
    </section>
